/*
==== Colors ====
Blue:    #3465a4
Purple:  #7334a3
Brown:   #a37334
Green:   #64a334
*/

body {
    font-family:Verdana,Arial,sans-serif;
    color:black;
    background:#64a334;
}

#main-div {
	background:white url(../images/web/main_bg.png);
	margin:2em;
	padding:1em 1em 0.25em;
	border:solid 0.5em #7334a3;
}

#sidebar {
    position:absolute;
    top: 2.5em;
    right: 2em;
    background:url(../images/web/sidebar_bg.png) repeat-y;
    padding:1em 0 1em 5px;
    margin-right:2em;
}

#footer {
    clear:both;
    border-top: solid #3465a4 2px;
    margin-top:1.5em;
}
#footer p {
    margin-top:0;
    text-align:center;
    font-size:80%;
    color:#444;
}

ul#menu {
    margin:-1.1em 0 0 -1em;
}
ul#menu li {
    display:inline;
    padding-right: 0.5em;
    list-style-image:none;
}
ul#menu li a {
    border: 2px solid #7334a3;
    border-top:0;
    padding: 2px;
    color: #7334a3;
    font-size: 80%;
    letter-spacing: -0.05em;
}

ul#menu li a:hover, ul#menu li a:active {
    background: #7334a3;
    color:white;
}
ul#menu li.name {
    color:#a37334;
    font-weight:bold;
    font-variant:small-caps;
}
ul#menu li.name a, ul#menu li.name a:hover, ul#menu li.name a:active {
    color:#a37334;
    border:0;
    background:transparent;
    padding:0;
    letter-spacing: 0.1em;
}

h1 {
	font-size:150%;
	font-variant:small-caps;
	color: #a37334;
	letter-spacing:0.3em;
	margin:0;
	margin-bottom:1em;
	margin-top:1em;
	padding:30px 0 30px 125px;
	background:no-repeat url(../images/web/icon-96.png);
}
h2 {
    font-size:200%;
    text-align:center;
    margin-top:-1em;
}

h2.text {
    font-size: 125%;
    text-align:left;
    color: #64a334;
    border-bottom: double 3px #7334a3;
    font-variant: small-caps;
    letter-spacing: 0.5em;
    font-weight: normal;
}

a, input[type=submit], input[type=reset], button {
	text-decoration:none;
	color:#3465a4;
}
a:hover, a:active {
	color:#a37334;
}
a img {
    border:0;
}
th a {
    color:white;
    text-decoration:underline;
}
th a:hover {
    color: #ddd;
}
a.button, button, input[type=submit], input[type=reset], button {
    border: outset 1px;
    padding:1px 2px;
    background:#c4dfff url(../images/web/button_glow.png) repeat-x;
    text-align:center;
    margin-top:0.2em;
    margin-bottom:0.2em;
    white-space:nowrap;
}
a.button {
    font-size:80%;
    position:relative;
    top:-0.1em;
    /*padding-top:3.5px;*/
}
a.button:hover, a.button:active, input[type=submit]:hover, input[type=submit]:active, input[type=reset]:hover, input[type=reset]:active, button:hover, button:active {
    border: inset 1px;
    color:#3465a4;
    background:#c4dfff url(../images/web/button_glow_active.png) repeat-x;
    padding:2px 1px 0px 3px;
}
a.button:active, input[type=submit]:active, input[type=reset]:active, button:active {
    background:#3465a4;
    color:#c4dfff;
}
.block {
    display:block;
}

table {
	border: 0.25em outset #7334a3;
	/*margin-left:auto;
	margin-right:auto;*/
}
th {
	text-align:left;
}
th, td {
	/*border:1px solid #64a334;*/
	padding:0.25em;
}
th {
	background: #64a334;
	color: white;
}
th.heading {
    text-align:center;
    background: #3465a4;
}
/*tr {
    background:white;
}*/
tr.alternate {
	background: url(../images/web/table_alt_bg.png);/*#b9f889;*/
}
ul {
    padding-left: 1em;
}
ul li {
    list-style-image:url(../images/web/arrow_right_brown2.png);
}
/*ul li:hover {
    list-style-image:url(../images/web/arrow_right_brown2.png);
}*/
input[type=text], input[type=checkbox], input[type=file], select, textarea {
    border:3px inset #a37334;
    background: #f0d3ad;
    padding-right:0.1em;
    padding-left:0.1em;
}
img.photo {
    padding:3px;
    margin:5px;
    border: 5px ridge #3465a4;
}
.error {
    color: red;
    font-weight: bold;
}
.single-line {
    white-space: nowrap;
}
div.large-photo {
    float:right;
}
.compact {
    margin:0;
}
.message {
    margin:2em;
    padding:2em;
    border:dotted red 1px;
    background:white;
    text-align:center;
}
hr {
    color:#a37334;
    border:1px dotted;
    margin:0.75em 0 0 -1.25em;
    padding:0;
}
code {
    font-family:"Lucida console",monospace;
    size:80%;
    /*color:#9556c5;*/
    border:solid 5px #9556c5;
    border-top-width:1px;
    border-bottom-width:1px;
    padding:0 3px;
}
